[phases.setup]
nixPkgs = ["nodejs_20"]

[phases.install]
cmds = ["npm install"]

[phases.build]
cmds = ["npm run build"]

[variables]
NIXPACKS_STATIC_DIR = "dist"

[start]
cmd = "npm run preview -- --host --port ${PORT:-4173}"
