version: "3.9"
services:
  mongo:
    image: mongo:7
    restart: unless-stopped
    ports:
      - "27017:27017"
    volumes:
      - mongo-data:/data/db

  api:
    build:
      context: ..
      dockerfile: deploy/api.Dockerfile
    environment:
      - MONGO_URL=mongodb://mongo:27017/cognitolab
      - JWT_SECRET=super-secret-key
      - PORT=4000
    ports:
      - "4000:4000"
    depends_on:
      - mongo

  web:
    build:
      context: ..
      dockerfile: deploy/web.Dockerfile
    ports:
      - "4173:80"
    depends_on:
      - api

volumes:
  mongo-data:
